
<div class="w-full bottom-0 left-0 pointer-events-none z-5">
    <div class="pattern-container relative h-[80px] md:h-[100px] lg:h-[120px] xl:h-[140px] w-full bg-[url('/patterns/patternV2.png')] bg-repeat bg-contain opacity-80 bg-bottom"></div>
</div>

<style>

</style>